<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoLocalHost" value="mongodb://localhost:{0}"/>
    <add key="PathToMongo" value="\MongoDB\Server\3.0\bin\mongod.exe"/>
    <add key="MongoStartupArgs" value="--port {0} --dbpath {1} --smallfiles"/>
  </appSettings>
</configuration>